.car1-details-container {
    margin-top: 10px;
    margin-bottom: 100px;
    /* background-color: #c2c7d0; */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  }
  
  .car-details-content {
    background-color: #50507f21;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .car-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
    /* width: 1000px; */
    /* height: 500px; */
  }
  
  .car-image {
    width: 300px;
    height: 300px;
    max-width: 80%;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .car-image1-container1 {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 10px;
    /* width: 500px; */
    /* height: 400px; */
  }
  
  .car-image1 {
    max-width: 23%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .car1__item-content {
    margin-top: 30px;
    width: 100%;
    height: 100%;
  }
  
  .car__item-content h4 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  
  .car__item-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
  }
  
  .info-group {
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
  }
  
  .info-group label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
  }
  
  .info-group input,
  .info-group select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s;
  }
  
  .info-group input:focus,
  .info-group select:focus {
    border-color: #007bff;
  }
  
  .info-group input[type="checkbox"] {
    width: auto;
    padding: 0;
    margin-top: 5px;
  }
  
  .image-upload-form {
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .image-upload-form input[type="file"] {
    /* margin-right: 10px; */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s;
    background-color: #d5d6e0;
  }
  
  .image-upload-form input[type="file"]:focus {
    border-color: #007bff;
  }
  
  .image-upload-form button {
    background-color: #021F61;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s;
  }
  
  .image-upload-form button:hover {
    background-color: #f9a826;
    color: black;
  }
  
  .back__btn {
    background-color: #021F61;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back__btn:hover {
    background-color: #f9a826;
    color: black;
  }
  
  .submit__btn {
    background-color:  #021F61;
    color: rgb(253, 250, 250);
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submit__btn:hover {
    background-color: #f9a826;
    color: black;
  }
  
  /* .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .d1-flex {
    display: flex;
    justify-content: center;
    gap: 1px;
    margin-top: 20px;
    margin-bottom: 50px;
    /* width: 1200px; */
  }
  
  
  .info-group input[type="number"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s;
    width: 100%;
  }
  
  .info-group input[type="number"]:focus {
    border-color: #007bff;
  }
  
  














/* 
.main1 {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #240046;
    max-height: 1550px;
    width: 700px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(59, 0, 130, 0.442) 0px 30px 90px;
    margin-left: 250px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
}

/*checkbox to switch from sign up to login

#chk {
    display: none;
}

/*Login

.login {
    position: relative;
    width: 100%;
    height: 100%;
}

.login label {
    margin: 2% 0 0%;
}

.label {
    color: #ffffff; 
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    background: #e0dede;
    padding: 10px;
    margin-top: 15px;
    border: none;
    outline: none;
    border-radius: 4px;
}

/*Register

.register {
    background: #eee;
    transition: .8s ease-in-out;
}

.register label {
    color: #021F61;
    transform: scale(.6);
}

#chk:checked ~ .register {
    transform: translateY(-68%);
}

#chk:checked ~ .register label {
    transform: scale(1);
    margin-bottom: 1%;
}

#chk:checked ~ .login label {
    transform: scale(.6);
}

/*Button

.form button {
    width: 70%;
    height: 40px;
    margin: 5px auto;
    color: #021F61;
    background: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}

.form button:hover {
    background-color: #f9a826;
} */