.otto {
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  color: #ea0a0a;
  box-shadow: 21.3px 0 0 7.8px, 42.6px 0 0 3.4px, 63.900000000000006px 0 0 0;
  transform: translateX(-42.6px);
  animation: dots-ijr34dmd 0.6s infinite alternate linear;
}

@keyframes dots-ijr34dmd {
  50% {
    box-shadow: 21.3px 0 0 3.4px, 42.6px 0 0 7.8px,
      63.900000000000006px 0 0 3.4px;
  }

  100% {
    box-shadow: 21.3px 0 0 0, 42.6px 0 0 3.4px, 63.900000000000006px 0 0 7.8px;
  }
}


.loadingContainer {
  position: fixed; /* Ensure the loading component is positioned relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Arrange items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  background-color: white; /* Background color to cover the entire viewport */
  z-index: 101; /* Ensure it's above other elements */
}

