.container {
  display: contents;
  justify-content: center;
  align-items: flex-start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #f4f4f7;
  padding: 20px 10px;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  transition: transform 0.3s;
}

.logo-small img {
  transform: scale(1.5);
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  margin-top: 20px;
}

.menu {
  flex-grow: 1;
}

.nav__list {
  list-style: none;
  padding: 0;
}

.nav__item {
  margin-bottom: 30px;

}

.nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s;
  background-color: #4e507f17;
}

.nav__link:hover, .nav__active {
  background: #f9a826b5;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: none;
  background: #021F61;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-button:hover {
  background: #852714;
}

main {
  margin-left: 140px;
  transition: margin-left 0.3s;
}

.sidebar-closed + main {
  margin-left: 0px;
}








/* .sidebar {
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #403d4a;
  padding: 20px;
  transition: width 0.3s ease;
}

.sidebar--collapsed {
  width: 80px;
}

.sidebar__top {
  width: 100%;
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: center;
}

.sidebar__top .logo {
  width: 160px;
}

.sidebar__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 70px);
}

.menu {
  height: 100%;
}

.sidebar__bottom {
  height: 10%;
}

.nav__link,
.sidebar__bottom .logout {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.nav__link:hover,
.sidebar__bottom .logout:hover {
  background-color: #f8f7f7;
}

.nav__active {
  background-color: #555;
}

.nav__icon {
  color: yellow;
  margin-right: 10px;
}

.logout__icon {
  color: yellow;
  margin-right: 10px;
} */
